/* // X-Large devices (large desktops, 1200px and up) */


@media screen and (max-width: 1270px){
    .head-section {display: none;}
    .section-1 {height: 40vw;}
    #head-adds {
        height: 30vw;
    }
    .each-blog {
        width: 85.4vw !important;
        margin-bottom: 6vw;
        text-align: center; 
    }
    .blog-img {
        width: 100% !important;
        height: 100% !important;
    }
    #s1, #s2, #s4 {font-size: 2.4vw;}
    #s3 {font-size: 4vw;}
    #s5 {font-size:2vw}
 }

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

     .three-img {
        width: 100%;
        height: 100%;
    }
    
     .blog-img {
        width: 100%;
        height: 100%;
    }
    .heading-side {font-size: 5.61vw;}
    .h2-b div {font-size: 2.05vw;}
    #category {font-size: 1.7vw;}
    #item-name {font-size: 1.2vw;}
    #price-after {font-size: 2vw;}
    #price-before {font-size: 2vw;}
    .btn-blue {font-size: 1.5vw;} 

 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .three-img {
       width: 100%;
       height: 100%;
   }
   .blog-img {
       width: 100% !important;
       height: 50vw !important;
   }
   .each-blog {
       width: 85.4vw !important;
       margin-bottom: 6vw;
       text-align: center; 
   }
   #s1, #s2, #s4 {font-size: 3.4vw;}
    #s3 {font-size: 5vw;}
    #s5 {font-size:3vw}

}

/* // X-Small devices (portrait phones, less than 576px) */
/* // Small devices (landscape phones, 576px and up) */

 @media (max-width: 576px) { 
     .footer {display: none;}
    .yello-star{width: 4vw;}
    .send-icon {width: 3vw;}
    .cart-icon {width: 2vw;}
    .section-1 {height: 24vh;}
    .l-ic {border-radius: 0 6px 5px 0;}
    .r-ic {border-radius: 5px 0 0 5px;}
    .l-ic,
    .r-ic {height: 4.6vh;}
    .three-img {
        width: 100% !important;
        height: 100% !important;
    }
    .b-order {
        height: 4vw;
        font-size: 1.3vw;
    }
    .input-boxx {padding-bottom: 15vw;}
    #subscription {padding-bottom: 7vw;}
    .heading-side {font-size: 6vw;}
    .section-3 {
        margin-top: 0;
    }
    .h2-b div {font-size: 2.2vw;}
    .btn-blue {height: 3vw;}
    .items {
        width: 100%;
        height: 90%
    }
    #head-adds {height: 25vw;}
    .off-10 {
        height: 3.6vw;
        width: 10vw;
        font-size:1.5vw;
    }
    #item-name {font-size: 3.5vw;}
    #category {font-size: 2.3vw;}
    #price-before {font-size: 3vw;}
    #price-after {font-size: 3vw;}
    
    .view-all-btn {
        width: 13.15vw;
        height: 2.4vh;
        font-size: 2vw;
    }
    .btn-blue {
        width: 35vw;
        height: 1.4vh !important;
        font-size: 2vw;
    }
    #input-1 {
        width: 24.8vw;
        height: 3.4vw;
        font-size: 2vw;
    }
    .icon-bg {height: 3.2vw;}
    .sony-logo {
        height: 1.5vh;
        width: 8vw;
    }
    .samsung-logo {height: 1vh;}
    .dell-logo {height: 1.2vh;}
    .philips-logo {height: 1.5vh;}
    .nikon-logo { height: 2.2vh;}
    .lenvo-logo {height: 1.5vh;}
    .bg-c {height: 5vh;}
    .move span:first-child {font-size: 3.3vw;}
    .move span:last-child, .down-ro span {font-size: 2.5vw;}
    #s1, #s2, #s4 {font-size: 3.4vw;}
    #s3 {font-size: 5vw;}
    #s5 {font-size:3vw}
    #sub-1 {font-size: 1.89vw;}
    .copyright {font-size: 1.84vw;}
    .products {
        height: 90%!important;
    }
    .blog-img {
        width: 85.45vw !important;
        height: 50.1vw;
    }
    .each-blog {
        width: 85.45vw !important;
        padding-bottom: 1vw;
        margin-bottom: 5vw;
    }
    .items-img {
        width: 40.7vw;
        height: auto;
        max-height: 21.7vh;
    }
    .arow {width: 2vw;}
} 








