*{
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #F9F9F9 !important;
}

/* ----------------------------------font-family --------------------- */
@font-face {
    font-family:'SFProDisplay-Bold' ;
    src: url(/fonts/SFProDisplay-Bold.ttf);
}
@font-face {
    font-family:'SFProDisplay-Black' ;
    src: url(/fonts/FontsFree-Net-SFProDisplay-Black.ttf);
}
@font-face {
    font-family:'SFProDisplay-Light' ;
    src: url(/fonts/SFProDisplay-Light.ttf);
}
@font-face {
    font-family:'SFProDisplay-Regular' ;
    src: url(/fonts/SFProDisplay-Regular.ttf);
}

@font-face {
    font-family:'SFProDisplay-Regular-italic' ;
    src: url(/fonts/SFProDisplay-RegularItalic.ttf);
}
@font-face {
    font-family:'SFProDisplay-Medium' ;
    src: url(/fonts/SFProDisplay-Medium.ttf);
}
@font-face {
    font-family:'SFProDisplay-Semibold' ;
    src: url(/fonts/SFProDisplay-Semibold.ttf);
}

/*------------------ all sections----------------------- */
section {
    width: 85.45vw;
    margin: 0 auto;
}
/* Header section */
header {
    margin-top: 1vh;
    font-family: SFProDisplay-Regular;
    color: #000000;
    background-color: #FFFFFF;
}
/*------------------  */
/* ---reUsalble code ------- */
/* -------------------- */


.heading-side {
    font-size: 2.61vw;
    color: #222222;
    font-family: SFProDisplay-Bold;
}
.search-box {
    width: 36.67vw;
    height: 4.8vh;
    font-size: 0.83vw;
    color: #BBBBBB;
    background-color: #FCFCFC;
    border: none;
    border-radius: 4px 4px 4px 4px;
    padding: 0.8vw;
}
.magnify-s {
    width: 24px;
    height: 24px;
    top: 1.2vh;
    left: 0.5vw;
}

.magnify {
    background-color: #146CDA;
    border-radius: 4px 4px 4px 4px;
    width:2.5vw;
    height:4.8vh ;
}
.wishlist {
    color: #000000;
}


.left-h{
    padding-right: 2vw;
}   
.right-h {
    padding-right:1vw;
}

.this-h {
    padding-right: 1.5vw;
    font-size: 0.98vw;
}
.top-icon {
    background-color: #146CDA;
    color: #FFFFFF;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    font-size: 10px;
    top: -5px;
    left: 10px;
}



/* Secton-1 */
.section-1{
    margin-top: 1vh;
    padding-left: 11vw;
    width: 100%;
    height: 62vh;
    background-image: url("/resources/img/Group\ 51223.png");
    background-size: 100% 100%;
    overflow-x: hidden;
}
.left-arro-icon {
    left: -1.7vw;
}
.left-arro-icon,
.right-arro-icon{
    z-index: 1;
    top: 40%;
    width: 3.2vw;
}
.right-arro-icon {
    right: -1.7vw;
}

.arro-l {
    width: 2vw;
    opacity: 0.4;
}
.l-ic,
.r-ic {
    width: 2.5vw;
    height: 11.6vh;
    top: 40%;
}
.l-ic {
    background-image: url('/resources/icons/Group 732.svg');
    left: 0;
    border-radius: 0 10px 10px 0;
}
.r-ic {
    background-image: url('/resources/icons/Group\ 49772.svg');
    border-radius: 10px 0 0 10px ;
    right: 0;
}
/* useable button */

.b-order {
    font-size: 1.15vw;
    width: 12.2vw;
    height: 6.4vh;
    border-radius: 32px 32px 32px 32px;
    background-color: #000000;
    color: #FFFFFF;
    font-family:SFProDisplay-Semibold ;
}
.view-all-btn {
    background-color: #000000;
    color: #FFFFFF;
    width: 6.15vw;
    height: 4.4vh;
    font-size: 0.94vw;
    border-radius: 32px 32px 32px 32px;
    font-family:SFProDisplay-Medium ;
}
.d1,
.d3 {
    font-size: 3.13vw;
}
.d1 {font-family:SFProDisplay-Light ;}
.d1,
.d2 {
    color: #FFFFFF;
}
.d2 {
    font-size: 4.69vw;
    text-transform: uppercase;
}
.d2,
.d3 {
    font-family: SFProDisplay-Black;  
    font-weight: 700;
}


/* section 2 three img */

.section-2 {
    margin-top:4vw;
}

.three-img {
    width: 27vw;
    height: 30vh;
}

/* .all-3 div {
    margin-left: 2vw;
} */

/* .all-3 div:first-child {
    margin-left: auto;
}
.all-3 div:last-child {
    margin-right: auto;
} */

/* secction-3 */
.section-3 {
    margin-top: 5vh;
}

.h2-b {
    margin-bottom: 2.5vw;
    font-family:SFProDisplay-Regular ;
}
.h2-b div {
    font-size: 1.05vw;
    margin-right: 4vw;
    color: #888888;
}
.new-arrival::after{
  content: '';
  border-bottom: 3px solid #000;
  width: 10px;
}

/*section exclusive offer */
.btn-blue {
    background-color: #146CDA;
    width: 11vw;
    height: 4.4vh;
    border-radius: 22px 22px 22px 22px;
    color: #FFFFFF;
    font-family:SFProDisplay-Medium ;
    font-size: 0.89vw;;
}

.cart-icon {width: 1.2vw;}



.off-10 {
    color: #146CDA;
    background-color: #E1FFF1;
    height: 3.6vh;
    width: 4vw;
    border-radius: 17px 17px 17px 17px;
    top: 1vw;
    left: 1vw;
    font-size: 0.73vw;
    font-family:SFProDisplay-Medium;
}

#category {
    font-size:  0.7vw;
    color: #146CDA;
    font-family: SFProDisplay-Medium;
}
#item-name {
    font-size: 1.01vw;
    color: #222222;
    font-family: SFProDisplay-Medium;
}
#price-before {
    color: #555555;
    font-size: 0.84vw;
    font-family: SFProDisplay-Regular;
}
#price-after {
    color: #222222;
    font-size: 1.05vw;
    font-family: SFProDisplay-Bold;
}
.items-mobile {
    width: 10vw !important; 
    height: 13vw !important;}
.items-img {
    width: 13.7vw;
    height: auto;
    max-height: 21.7vh;
}
.items {
    height: 100%;
    background-color: #FFFFFF;
    padding: 3vw 0;
}



/* section headphones add */
.section-headphone-adds {margin-top: 4vw;}
#head-adds{
    margin-top: 1vh;
    width: 85.45vw;
    height: 55vh;
    border-radius: 7px;
}
.img-content {
    top: 4.5vw;
}
.fl-1 {
    font-size: 1.7vw;
    font-family: SFProDisplay-Regular-italic;
    
}
.send-icon {width: 1.5vw;}
.fl-2,
.fl-3 {
    font-size: 4.2vw;
}
.fl-2 {
    font-family:SFProDisplay-Light ;
}
.fl-3 {
    font-family:SFProDisplay-Black;
}
.adds {
    color: #FFFFFF;
    margin-left: 13vw;
}
.adds div {
    margin-top: -1vw;
}
/* ------------------ */
 /* Section Best Sellers */
/* ------------------ */
#best-s {
    font-size: 2.6vw;
    font-weight: bold;
}

.heading-part {margin: 3vw 5vw 3vh 3vw;}


/* ------------------ */
 /* Top brands      */
/* ------------------ */

.bg-c {
    background-color: #FFFFFF;
    padding: 0 1vw;
    width: 85.5vw;
    height: 16vh;
}
.bg-c div:first-child {
    margin-left: auto;
}

.bg-c div:last-child {
    margin-right: auto;
}
.all-icon {
    margin-right:5vw;
}
.all-icon img{
    opacity: 0.3;
    filter: grayscale(100%);
}
.sony-logo {
    height: 3.5vh;
    width: 8vw;
}
.samsung-logo {
    width: 10vw;
    height: 3vh;
}
.dell-logo {
    width: 7.2vw;
    height: 4.2vh;
}
.nikon-logo {
    width: 8.3vw;
    height: 6.2vh;
}
.philips-logo {
    width: 10.3vw;
    height: 3.9vh;
}
.lenvo-logo {
    width: 10.7vw;
    height: 4.3vh;
}
/* Section Blogs */
.blogs {
    font-size: 50px;
    color: #222222;
}

.blog-img {
    width: 27.4vw !important;
    height: 18.1vw;
    border-radius: 5px 5px 0 0;
}
.each-blog {
    width: 27.4vw !important;
    background-color: #FFFFFF;
    padding-bottom: 1vw;
}



#s1 ,
#s2,
#s4 {
    font-size: 0.83vw;
    font-family:SFProDisplay-Regular;
}
#s1 {
    color: #555555;
}
#s2 {
    color: #BBBBBB;
}
#s3 {
    font-size: 1.4vw;
    color: #222222;
    font-family: SFProDisplay-Bold;
}
#s4 {
    color: #888888;
}
#s5 {
    color: #146CDA;
    font-size: 0.89vw;
    font-family: SFProDisplay-Medium;
    padding-top: 0.2vw;
}

.arow {
    width: 1vw;
}


/* width: 85.45vw;
margin: 0 auto; */
/*--------------------  */
/* section-subscription */
/*---------------  */


.section-subcription {
    background-color: #146CDA;
    width: 100%;
    max-width: 1920px;
    height: 18vh;
    color: #FFFFFF;
    margin-top: 2vw;
}
.subscribe-1 {padding-top: 1vw;}
#subscription {margin-right: 15vw;}
#sub-1 {
    font-size: 0.89vw;
    font-family: SFProDisplay-Regular-italic;
}
#sub-2 {
    font-size: 2.5vw;
    font-family: SFProDisplay-Bold;
}

#input-1 {
    width: 23.8vw;
    height: 6.4vh;
    color: #BBBBBB;
    font-family:SFProDisplay-Light;
    padding:1vw;
}

.icon-bg {
    background-color: #000000;
    width: 4.12vw;
    height: 6.4vh;
    font-size: 1.2vw;
}


/* second-last section */
.sec-last {
    margin-bottom: 2vw;
    margin-top: 2vw;
}
.move {
    margin-left: 1vw;
}
.move span:first-child {
    font-size: 1.3vw;
    font-family: SFProDisplay-Bold;
}

.larg-icon {width: 3vw;}
.bus {
    height: 2.5vw;
    width: 4vw;
}
/* ---------Usable component ------------- */
.move span:last-child,
.down-ro span {
    color: #888888;
    font-family:SFProDisplay-Regular;
    font-size:0.89vw;
}


/* footer */
footer {
    background-color: #FFFFFF;
    padding-top: 2vw;
}
.footer {
    width: 85.45vw;
    margin: 0 auto;
    margin-bottom: 2vw;
}

.electo {
    width: 7.67vw;
    height: 4.7vh;
}
.apple-android img {
    width: 10.3vw;
    height: 4.8vh;
}
.apple-android img:last-child {
   padding-left:1vw;
}
.down-ro span {
    color: #888888;
    font-family:SFProDisplay-Regular;
    font-size:0.89vw;
}
.down-ro h3 {
    font-size: 1.1vw;
    font-family:SFProDisplay-Bold;
    color: #222222;
    
}

.copyright {
    font-size: 0.84vw;
    font-family:SFProDisplay-Regular;
    color: #BBBBBB;
}
